.container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.container > div {
  margin-bottom: 20px;
}
.container > li {
  margin-bottom: 10px;
}
.emptyMessage {
  padding: 10px;
}

.error {
  color: red;
}
